#about {
    padding: 100px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-2);
    background-image: url('../images/about/bg-about.png');
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;

    .title {
        color: var(--color-primary-4);
                

        &::before {
            background-color: var(--color-primary-3);
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-image {
            margin-top: 50px;
            width: clamp(280px, 40vw, 480px);
        }

        .about-info {
            padding: 24px;
            border-radius: 20px;
            background-color: var(--color-primary-2);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

            h3 {
                color: var(--color-primary-4);
                font-size: 1.8rem;
                margin-bottom: 4px;

                span {
                    color: var(--color-primary-3);
                }
            }

            p {
                color: var(--color-primary-4);
                font-size: 1rem;

                span {
                    color: var(--color-primary-3);
                    font-weight: 600;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        margin: 8%;
        justify-content: center;

        .about-content {
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }

        .about-image {
            order: 1;
        }

        .about-info:first-child {
            order: 2;
        }

        .about-info:last-child {
            order: 3;
        }
    }
}