a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-secondary-2);
    color: var(--color-primary-4);

    &:hover {
        background-color: transparent;
        color: var(--color-primary-3);
        border: 2px solid var(--color-primary-3);
    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-secondary-2);
        color: var(--color-primary-4);
        border: 2px solid var(--color-secondary-2);
    }
}
