#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(160px, 5vh, 32px);

    .home-title {
        color: var(--color-primary-1);
        text-align: center;
        font-size: clamp(2.1rem, 5vw, 3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-secondary-2);
        }
    }

    .home-image {
        width: clamp(300px, 50%, 470px);
    }

    .home-description {
        color: var(--color-primary-1);
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}