header {
    background-color: var(--color-primary-4);
    padding: 1px 2%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 90px;
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.2rem;
            width: 100%;
            position: absolute;
            top: 90px;
            background-color: var(--color-primary-4);
            left: 0;
            padding: 0.5rem;

            &.show {
                display: flex;
            }

            li {
                text-align: center;
            }

            a {
                color: var(--color-primary-1);
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--color-primary-3);
                    border-bottom: 1px solid var(--color-primary-3);
                }
            }
        }

        .btn-default {
            display: none;
        }
    }
}

@media (min-width: 769px) {
    header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
            }

            .btn-default {
                display: block;
            }
        }
    }
}