#products {
    padding: 100px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 58px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-primary-2);
            background-image: url('../images/about/bg-about.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 16px;
            border-radius: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            img {
                width: 300px;
                position: relative;
                top: -70px;
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
            }

            .product-content {
                margin-top: -70px;

                h3 {
                    color: var(--color-primary-4);
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    span {
                        color: var(--color-primary-3);
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}