@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');
@import url('../css/button.css');
@import url('../css/home.css');
@import url('../css/trending.css');
@import url('../css/about.css');
@import url('../css/products.css');
@import url('../css/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url('../images/JKel-Background-Mobile.png');
    background-size: contain;
}

@media (min-width: 768px) {
    #container {
        background-image: url('../images/JKel-Background-Desktop.png');
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }

    #products {
        min-height: 100dvh;
        gap: 48px;

        .products-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 48px;

            .product-card {
                img {
                    width: 250px;
                }
            }
        }
    }
}