:root{
    --color-neutral-0: #ffffff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000000;

    --color-primary-1: #301f1d;
    --color-primary-2: #061c3b;
    --color-primary-3: #d1b790;
    --color-primary-4: #f3f3f3;

    --color-secondary-1: #1568dd;
    --color-secondary-2: #054d81;
    --color-secondary-3: #478bbd;
    --color-secondary-4: #ddc705;
}